.navitem {
  text-decoration: none;
}
a {
    text-decoration: none !important;
    letter-spacing: 1px;

}
li {
  list-style: none;
}
.nav-name {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 15px;
  /* text-decoration: none !important; */
}
.nav-name:hover{
  color:rgb(210, 179, 45);
}

.navbar-imae {
  width: 50px;
  height: 50px;
  background-color: rgb(210, 179, 45);
  border-radius: 50%;
}
/* NAVBAR STYLING STARTS */
.navbar-container {
  /* margin-left: 2%; */
  padding: 0.5%;

}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: teal; */
  /* color: #fff; */
  color: rgba(75, 78, 78, 0.822);
}
.nav-links a {
  color: #fff;
}
.navitem {
  color: black !important;
  font-size: large;
  font-weight: bold;
  margin-right: 30px;
}
.navitem:hover {
  color: goldenrod !important;
}
/* LOGO */
.logo {
  font-size: 32px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 15px;
  text-decoration: none;
}

.menu li {
  margin-top: 3%;
  padding-right: 14px;

}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: yellow;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  /* .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  } */
  .dropdown li:hover {
    /* background-color: #4c9e9e; */
  }
}





