.form-container {
  font-size: 50.5%;
  line-height: 1.5;
  box-sizing: inherit;
  font-family: inherit;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background: #fff;
  padding: 4rem;
  text-align: right;
  width: 70%;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}

.label {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}
.form-control {
  margin: 0;

  padding: 2rem;
  width: 300px;
  border: 1px solid #ebebeb;
  letter-spacing: 0;
  border-radius: 5px;
  font-weight: 600;
}
