.footer {
  background-color: black;
  color: white;
}
.footer-social {
  width: 50px;
  padding: 20%;
  /* background-color: aliceblue; */
}

.footer-social-container {
  display: flex;
}
.footer-top {
  width: 80%;
  margin: auto;
  padding-top: 5%;
  display: flex;
  text-align: left;
}
.footer-top-left {
  width: 70%;
}
.footer-top-right {
  margin-left: 30%;
}
.footer-bottom p {
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .footer-top-left {
    width: 70%;
    margin: 0 2% 0 2%;
    padding: 0;
  }
  .footer-top-right {
    width: 10%;

    margin: 0;
    padding: 0;
  }
  .footer-social-container {
    display: flex;
    flex-direction: column;
  }
}
