.about {
  background-color: #f6f6f6;
}
.about-me-h5 {
  margin: 1%;
  line-height: 200%;
}
.about-top {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;

}
.about-left {
  width: 60%;
  padding: 5%;
  text-align: left;
}
.about-right {
  width: 40%;
  padding: 5%;
}
.about-right h1 {
  text-align: left;
}
.about-right .skills {
  display: flex;
  flex-wrap: wrap;
}
.skills__skill {
  padding: 3% 5%;
  margin-bottom: 5%;
  margin-right: 3%;
  font-size: 16px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}
