.projects-top {
  background-color: white;
}
.project-title {
  margin: 1%;
  line-height: 200%;
}

.single-project {
  display: flex;
  /* margin-top: 5%; */
  padding-top: 5%;
}
.single-project-left {
  width: 50%;
}
.single-project-right {
  width: 50%;
  text-align: left;
  margin-left: 5%;
  padding: 2%;
}
.single-project img {
  width: 100%;
  /* margin-left: 15%;
  padding-top: 15%; */
}
.project-description {
  font-size: 20px;
}

/* Styles for  image scroll from top to bottom on hover */
.image-wrap {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin-left: 10%;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 2s ease-in-out;
  border: 10px solid #d3dcfa;
  border-radius: 5%;
}
.image-wrap:hover img {
  object-position: bottom center;
}

/* Extra style for hover text  */
.scroll-image {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin-left: 10%;
}

.scroll-image img {
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
}


.hover-text {
  position: absolute;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  color: red;
  text-align: center;
  opacity: 1;
  transition: all 0.5s ease;
}

.scroll-image:hover .hover-text {
  opacity: 0;
}

/* media query */
@media only screen and (max-width: 600px) {
  .single-project {
    display: flex;
    /* margin-top: 5%; */
    flex-direction: column;
    padding-top: 5%;
  }

  .single-project-right {
    width: 80%;
    text-align: left;
    margin: auto;
  }
}
