.banners-top {
    background-color: #f1f1f1;
}
.social-image-container {
  width: 70px;
  height: 350px;
  background-color: white;
  margin-top: 40%;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}
.social-image {
  height: 80px;
  width: 40px;
  margin: 4px;
}
.name {
  font-size: 60px;
  font-weight: 300px;
  color: #111111;
  margin-top: 10%;
}

.description {
  margin: 5%;
  line-height: 200%;
}
.btn{
  height: 50px;
  width: 150px;
  border-radius: 5px;
  text-transform: uppercase;
}
